.intro_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.intro_main {
    align-self: center;
}

.intro_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.intro_nav li {
    flex-grow: 1;
}