.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 100px;
    grid-auto-rows: minmax(90px, auto);
}

.logo, .intro, .about, .gallery, .contact {
    grid-column: 1/-1;
}


@media screen and (orientation:portrait) {

    .wrapper {
        grid-template-columns: repeat(2, 1fr) 70px;
    }

}