.intro, .about, .gallery, .contact {
  margin-top: 120px;
  height: calc(100vh - 120px);
}

.intro_main {
  font-size: 3rem;
}

.intro_nav, .intro_nav ul {
  height: 100%;
}

.intro_nav ul {
  margin: 0;
}

.intro_nav li {
  text-align: right;
  list-style-type: none;
}

.logo h1, .intro, .about, .gallery, .contact {
  padding: .5rem 2.5rem;
}

.logo {
  position: fixed;
  background: #456456;
  color: #FFFFFF;
}