body {
  overflow: hidden;
}

.intro, .about, .gallery, .contact {
  height: calc(100vh - 8.5rem);
  overflow: hidden;
}

.intro {  
  background-image: url(https://avatars0.githubusercontent.com/u/20577139);
  background-repeat: no-repeat;
  background-size: 70vw 100vh;
  background-position: right -10vw top;
}

.gallery {
  background: linear-gradient(to right, #232526, #414345);
  text-align: center;
}

.gallery img {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0px auto;
}

.about, .contact {
  background: linear-gradient(to right, #ec6f66, #f3a183);
  text-align: center;
}

.about_skill-table {
  overflow-x: scroll;
}

.about_skill-table table {
  margin: 1rem auto;
}

.about_skill-table th {
  min-width: 150px;
}

.intro_main p {
  font-size: 3rem;
}

.intro_nav {
  width: 100px;
  position: fixed;
  right: 0;
}

.intro_nav {
  height: 100%;
}

.intro_nav ul {
  margin: 0;
  padding: 0;
  height: 90%;
}

.intro_nav li {
  list-style-type: none;
}

.logo h1 {
  padding: .5rem 2.5rem;
}

.intro, .about, .gallery, .contact {
  padding: 6rem 100px 2.5rem 2.5rem ;
}

.logo {
  position: fixed;
  background: #456456;
  color: #FFFFFF;
}

@media screen and (orientation:portrait) {

  .intro {
    background-size: 120% 100%;
    background-position: initial;
    color: deepskyblue;
  }

  .intro, .about, .gallery, .contact {
    padding: 6rem 70px 2.5rem 1rem;
  }

  .intro_nav {
    width: 70px;
  }

}